*{
box-sizing: border-box;
}

.Hero {
    width: 100%;
}

.logo {
    text-align:center;
    position: absolute;
    font-size: 18px;
    top: 50px;
    left: 40%;
    color: rgb(0, 0, 0);
}
h1{
    text-align:center;
    position: relative;
}

.card{
  float: left;
  width: 33.33%;
  padding: 25px;
  height: 300px;
  background-color: rgba(255, 255, 0, 0.65);
  border-style: solid;

} 
.row{
    background-color: rgba(0, 174, 255, 0.561);
    
}
